.largerFifty {
    background-color: #F2DEDE;
    border: 1px solid #EBCCCC;
    border-radius: .25rem;
    color: #A94442;
}

.inputNumRed {
color: #D9534F;
border: 1px solid #D9534F;
border-radius: 4px;
}

.inputNum {
border-radius: 4px;
}